


.box1{
    background-color: rgb(226, 67, 67);
    height: 20vh;
    background-size: cover;
    background-position: center;
    width: 90%;
    position: relative;
    margin-left: 20px;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 60px;
}

.objective{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 20px;
    margin-bottom: 70px;
}


.line1{
    text-decoration:underline;
    text-decoration-color: rgb(226, 67, 67);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    
}

.line2{
    text-decoration: underline;
    text-decoration-color: rgb(226, 67, 67);
    
    
}


.experience{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 20px;
    
      
}
.line3{
    text-decoration: underline;
    text-decoration-color: rgb(226, 67, 67);
}
.line4{
    text-decoration: underline;
    text-decoration-color: rgb(226, 67, 67);
    margin-top: 50px;
}
.information{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 30px;
    
}